<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>square of 100</Title>
			<Author>Myself</Author>
			<Description>Calculates the square of 100</Description>
			<Shortcut>sqrt</Shortcut>
		</Header>
		<Snippet>
			<Code Language="CSharp">
				<![CDATA[double root = Math.pow(100,2);]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>